LJC.FrameWork.Test/Service References/StockService/StockService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StockService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/StockService/StockService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/StockService/StockService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/StockService/StockService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService.DataContracts" />
      <xsd:import schemaLocation="http://localhost/StockService/StockService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ATrade.Data" />
      <xsd:import schemaLocation="http://localhost/StockService/StockService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStockService_GetHisDayQuoteSpan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHisDayQuoteSpan" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetHisDayQuoteSpan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHisDayQuoteSpanResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetHisDayQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHisDayQuote" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetHisDayQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHisDayQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetStockInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockInfo" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetStockInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetStockInfoBySecurityCodeA_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockInfoBySecurityCodeA" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetStockInfoBySecurityCodeA_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockInfoBySecurityCodeAResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetAllStockInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStockInfo" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetAllStockInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStockInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetSimpleStockInfoList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSimpleStockInfoList" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetSimpleStockInfoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSimpleStockInfoListResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetRealQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRealQuote" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetRealQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRealQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetFundInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFundInfo" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetFundInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFundInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_NextTradeDate_InputMessage">
    <wsdl:part name="parameters" element="tns:NextTradeDate" />
  </wsdl:message>
  <wsdl:message name="IStockService_NextTradeDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:NextTradeDateResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_NextOpenTime_InputMessage">
    <wsdl:part name="parameters" element="tns:NextOpenTime" />
  </wsdl:message>
  <wsdl:message name="IStockService_NextOpenTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:NextOpenTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_IsOpen_InputMessage">
    <wsdl:part name="parameters" element="tns:IsOpen" />
  </wsdl:message>
  <wsdl:message name="IStockService_IsOpen_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsOpenResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetCurrMonthTradeDay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrMonthTradeDay" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetCurrMonthTradeDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrMonthTradeDayResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_SetTradeDate_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTradeDate" />
  </wsdl:message>
  <wsdl:message name="IStockService_SetTradeDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTradeDateResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetIndexRealQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIndexRealQuote" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetIndexRealQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIndexRealQuoteResponse" />
  </wsdl:message>
  <wsdl:portType name="IStockService">
    <wsdl:operation name="GetHisDayQuoteSpan">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetHisDayQuoteSpan" message="tns:IStockService_GetHisDayQuoteSpan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetHisDayQuoteSpanResponse" message="tns:IStockService_GetHisDayQuoteSpan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHisDayQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetHisDayQuote" message="tns:IStockService_GetHisDayQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetHisDayQuoteResponse" message="tns:IStockService_GetHisDayQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetStockInfo" message="tns:IStockService_GetStockInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetStockInfoResponse" message="tns:IStockService_GetStockInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockInfoBySecurityCodeA">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetStockInfoBySecurityCodeA" message="tns:IStockService_GetStockInfoBySecurityCodeA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetStockInfoBySecurityCodeAResponse" message="tns:IStockService_GetStockInfoBySecurityCodeA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStockInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetAllStockInfo" message="tns:IStockService_GetAllStockInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetAllStockInfoResponse" message="tns:IStockService_GetAllStockInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSimpleStockInfoList">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetSimpleStockInfoList" message="tns:IStockService_GetSimpleStockInfoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetSimpleStockInfoListResponse" message="tns:IStockService_GetSimpleStockInfoList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRealQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetRealQuote" message="tns:IStockService_GetRealQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetRealQuoteResponse" message="tns:IStockService_GetRealQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFundInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetFundInfo" message="tns:IStockService_GetFundInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetFundInfoResponse" message="tns:IStockService_GetFundInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NextTradeDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/NextTradeDate" message="tns:IStockService_NextTradeDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/NextTradeDateResponse" message="tns:IStockService_NextTradeDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NextOpenTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/NextOpenTime" message="tns:IStockService_NextOpenTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/NextOpenTimeResponse" message="tns:IStockService_NextOpenTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsOpen">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/IsOpen" message="tns:IStockService_IsOpen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/IsOpenResponse" message="tns:IStockService_IsOpen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrMonthTradeDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetCurrMonthTradeDay" message="tns:IStockService_GetCurrMonthTradeDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetCurrMonthTradeDayResponse" message="tns:IStockService_GetCurrMonthTradeDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTradeDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/SetTradeDate" message="tns:IStockService_SetTradeDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/SetTradeDateResponse" message="tns:IStockService_SetTradeDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexRealQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetIndexRealQuote" message="tns:IStockService_GetIndexRealQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetIndexRealQuoteResponse" message="tns:IStockService_GetIndexRealQuote_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStockService" type="tns:IStockService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHisDayQuoteSpan">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetHisDayQuoteSpan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHisDayQuote">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetHisDayQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockInfo">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetStockInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockInfoBySecurityCodeA">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetStockInfoBySecurityCodeA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStockInfo">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetAllStockInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSimpleStockInfoList">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetSimpleStockInfoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRealQuote">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetRealQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFundInfo">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetFundInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NextTradeDate">
      <soap:operation soapAction="http://tempuri.org/IStockService/NextTradeDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NextOpenTime">
      <soap:operation soapAction="http://tempuri.org/IStockService/NextOpenTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsOpen">
      <soap:operation soapAction="http://tempuri.org/IStockService/IsOpen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrMonthTradeDay">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetCurrMonthTradeDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTradeDate">
      <soap:operation soapAction="http://tempuri.org/IStockService/SetTradeDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexRealQuote">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetIndexRealQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockService">
    <wsdl:port name="BasicHttpBinding_IStockService" binding="tns:BasicHttpBinding_IStockService">
      <soap:address location="http://localhost/StockService/StockService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>