LJC.FrameWork.Test/Service References/StockService/StockService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/StockService/StockService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ATrade.Data" />
  <xs:complexType name="ArrayOfStockQuoteContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockQuoteContract" nillable="true" type="tns:StockQuoteContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStockQuoteContract" nillable="true" type="tns:ArrayOfStockQuoteContract" />
  <xs:complexType name="StockQuoteContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AveragePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="ChangePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="ChangeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="Close" type="xs:decimal" />
      <xs:element minOccurs="0" name="High" type="xs:decimal" />
      <xs:element minOccurs="0" name="InnerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Low" type="xs:decimal" />
      <xs:element minOccurs="0" name="Open" type="xs:decimal" />
      <xs:element minOccurs="0" name="PreClose" type="xs:decimal" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Volumne" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockQuoteContract" nillable="true" type="tns:StockQuoteContract" />
  <xs:complexType name="StockInfoDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CapitalizationA" type="xs:double" />
      <xs:element minOccurs="0" name="CapitalizationAList" type="xs:double" />
      <xs:element minOccurs="0" name="CapitalizationB" type="xs:double" />
      <xs:element minOccurs="0" name="CapitalizationBList" type="xs:double" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyEnglishName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyShotName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Companycode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CsrcCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CsrcCodeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListDateA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ListDateB" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ATrade.Data" minOccurs="0" name="Market" type="q1:MarketEnum" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityCodeA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityCodeB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortNameA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortNameB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpellA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpellB" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockInfoDataContract" nillable="true" type="tns:StockInfoDataContract" />
  <xs:complexType name="ArrayOfStockInfoDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockInfoDataContract" nillable="true" type="tns:StockInfoDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStockInfoDataContract" nillable="true" type="tns:ArrayOfStockInfoDataContract" />
  <xs:complexType name="ArrayOfStockSimpleInfoDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockSimpleInfoDataContract" nillable="true" type="tns:StockSimpleInfoDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStockSimpleInfoDataContract" nillable="true" type="tns:ArrayOfStockSimpleInfoDataContract" />
  <xs:complexType name="StockSimpleInfoDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exchange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StkCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StkName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockSimpleInfoDataContract" nillable="true" type="tns:StockSimpleInfoDataContract" />
  <xs:complexType name="FundInfoDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanBuy" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanGetBack" type="xs:boolean" />
      <xs:element minOccurs="0" name="FundCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FundManager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FundManagerInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FundName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FundShort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOpen" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastChangeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="NetValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="NetValueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Spell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNetValue" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FundInfoDataContract" nillable="true" type="tns:FundInfoDataContract" />
</xs:schema>